<div class="heading, team_div">Team</div>
<table>
  <tbody>
  <tr>
    <td><img src="images/team/neeraja.jpg" alt="Neeraja Ganesan" class="team_icon"/></td>
    <td><img src="/images/team/ron.png" alt="Ron Poznansky" class="team_icon"/></td>
    <td><img src="images/team/anthony.png" alt="Anthony P Stevens" class="team_icon"/></td>
    <td><img src="images/team/alyssa.jpg" alt="Alyssa Simpson" class="team_icon"/></td>
    <td><img src="images/team/rob.png" alt="Rob Murgai" class="team_icon"/></td>
    <td><img src="images/team/stephan.png" alt="Stephan J Roorda" class="team_icon"/></td>
    <td><img src="images/team/ryan.png" alt="Ryan R Anderson" class="team_icon"/></td>
  </tr>
  <tr>
    <td class="team_name">Neeraja Ganesan</td>
    <td class="team_name">Ron Poznansky</td>
    <td class="team_name">Anthony Stevens</td>
    <td class="team_name">Alyssa Simpson</td>
    <td class="team_name">Rob Murgai</td>
    <td class="team_name">Stephan Roorda</td>
    <td class="team_name">Ryan Anderson</td>
  </tr>
  </tbody>
</table>
</div>