doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset="utf-8")

        link(href="stylesheets/settings.css" type="text/css" rel="stylesheet")
        link(href="stylesheets/ladda/ladda-themeless.min.css" type="text/css" rel="stylesheet")

        title Settings

    body.bodyBackground

        div#top_locked_div
            img#back_button(src="../images/back_icon.png")
            div#heading Settings
            div.clearBoth
        div#main_wrapper
            div#settings

                span.heading IP Address:
                br
                input#ip_0.ip_address(type="text", style="width: 40px")
                span.ip_address_period .
                input#ip_1.ip_address(type="text", style="width: 40px")
                span.ip_address_period .
                input#ip_2.ip_address(type="text", style="width: 40px")
                span.ip_address_period .
                input#ip_3.ip_address(type="text", style="width: 40px")

                button#megatron_stats_button Megatron Stats

                div#usage_tips
                    span Go here to view battery power and to change voice volume

                div
                    span.heading Battery Saving Options:
                    br
                    input#setAliveCb(type='checkbox')
                    | Is Megatron Alive
                    br
                    input#setBreathingCb(type='checkbox')
                    | Is Megatron Breathing

                button#submit_button Send Update To Megatron

        div#communication_error.hidden The Megatron server interface is not responding

        include footer_file.html

    script(src="javascript/jquery/jquery-2.1.0.min.js" type="text/javascript")<!-- jQuery-- >
    script(src="javascript/robot_nao_settings.js" type="text/javascript")<!-- Watson Team JS-- >
