html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    margin-bottom:100px;
}

body a {
    text-decoration: none;
}
body div {
    box-sizing: border-box;
}
.body_background{
    background-color: #323232;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#top_locked_div {
    background-color: #000;
    position:fixed;
    top:0;
    width:100%;
    padding:5px;
    z-index:100;
    height: 60px;
}
#heading {
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 24px;
    float: left;
}
#back_button {
    margin-left: 10px;
    margin-top: 5px;
    width: 40px;
    float: left;
}
#main_wrapper {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 75px;
}
.heading {
    font-weight: bold;
}
button {
    border: 1px;
    padding: 5px 10px;
    color: #000;
    font-size: 14px;
}
#megatron_stats_button {
    background-color: lightsteelblue;
    margin-left: 20px;
}
#usage_tips {
    color: #0074D9;
    margin-top: 5px;
    margin-bottom: 15px;
}
#submit_button {
    background-color: #f9cd0b;
    margin-top: 20px;
}
.ip_address_period {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#setAliveCb {
    margin-right: 10px;
    margin-top: 10px;
}
#setBreathingCb {
    margin-right: 10px;
    margin-top: 5px;
}
.team_div {
    margin-top: 150px;
    margin-left: 10px;
    font-weight:bold;
}
.team_name {
    padding-left: 10px;
    font-size: 12px;
}
.team_icon {
    width: 125px;
    margin-left: 10px;
    margin-top: 5px;
}
/***  Common CSS ***/
button:focus {
    outline:0;
}
a:link, a:visited {
    color: #888888;
    text-decoration: underline;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.clearBoth {
    clear:both;
}